fastapi==0.115.12
uvicorn==0.34.3
langchain==0.3.25
langchain-openai==0.3.16
langchain-pinecone>=0.2.0
langchain-postgres==0.0.15
langchain-community==0.3.24
langgraph==0.5.4
langgraph-checkpoint-postgres==2.0.23
pinecone>=6.0.0
pypdf==5.6.0
docx2txt==0.9
python-dotenv==1.1.0
SQLAlchemy==2.0.41
asyncpg==0.30.0
psycopg==3.2.9
psycopg-binary==3.2.9
pydantic==2.11.7
pydantic-settings==2.9.1
python-multipart==0.0.20
streamlit==1.45.1
email_validator==2.2.0
PyJWT==2.10.1
bcrypt==4.3.0
passlib==1.7.4
loguru==0.7.3
httpx==0.28.1
requests==2.32.4
joblib
scikit-learn
rank-bm25
